* {
  margin: 0;
}

body {
  min-width: 700px;
  background-color: #6028d1;
  /* background-image: linear-gradient(120deg, #278ccf, #6028d1); */
}

.container {
  width: 700px;
  margin: auto;
}

.header {
  font-weight: 700;
  font-size: 70px;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
}

.div__filter {
  width: 500px;
  margin: auto;
}

.filter__input {
  height: 50px;
  width: 500px;
  margin: auto;
  font-size: 30px;
  background-image: linear-gradient(120deg, #ffffff, #6028d1);
}

.div__new_todo {
  width: 500px;
  margin: 5px auto;

}

.new__todo_input {
  height: 50px;
  width: 400px;
  margin: auto;
  font-size: 30px;
  background-image: linear-gradient(120deg, #ffffff, #6028d1);
}

.new__todo_btn {
  display: inline-block;
  color: white;
  padding: 0;
  padding-left: 10px;
  height: 50px;
  width: 80px;
  font-size: 30px;
  border: none;
  background-color: #6028d1;
  /* background-image: linear-gradient(120deg, #4d49d0, #543ed1); */
}

.div__active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div__done {
  width: 500px;
  margin: auto;
}

.list__active {
  padding: 0;
}

.list__done {
  margin: 3px;
  padding: 0;
}

.todo__element_active {
  list-style: none;
  display: flex;
  margin: 5px;
}

.change__input {
  height: 40px;
  width: 363px;
  font-size: 25px;
}

.done__btn {
  margin: 2px;
  padding: 0;
  height: 40px;
  width: 50px;
  border: none;
  color: white;
  background-image: linear-gradient(120deg, #736ff6, #543ed1);
}

.todo__element_delete {
  height: 40px;
  width: 50px;
  color: white;
  background-image: linear-gradient(120deg, #736ff6, #543ed1);
  margin: 2px;
  border: none;
}

.upDown__btns {
  display: block;
  width: 20px;
}

.todo__element_up {
  margin: 1px;
  width: 45px;
  height: 20px;
  color: white;
  background-image: linear-gradient(120deg, #736ff6, #543ed1);
  border: none;
}

.todo__element_down {
  margin: 1px;
  width: 45px;
  height: 20px;
  color: white;
  background-image: linear-gradient(120deg, #736ff6, #543ed1);
  border: none;
}

.todo__element_done {
  background-image: linear-gradient(120deg, #9a97ff, #e1ddfb);
  width: 350px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.todo__text_done {
  
  width: 350px;
  height: 23px;
  margin: 2px;
  font-size: 20px;
}

.yep {
  font-size: 18px;
}

.hide {
  display: none;
}