* {
  margin: 0;
  padding: 0;
}

.todo__element {
  display: flex;
}

.todo__element_done {
  display: block;
}

.todo__text {
  min-width: 200px;
  background-color: rgb(204, 255, 153);
}

.todo__text_done {
  min-width: 200px;
}